In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import datetime as dt
%matplotlib inline

In [2]:
temps = pd.read_csv('./GlobalLandTemperaturesByCountry.csv')
temps.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [3]:
oil = pd.read_excel('MachineLearning\OilConsumption.xlsx')
oil.head()

   Year  Thousand Oil Barrels Daily
0  1965                11522.187698
1  1966                12100.347314
2  1967                12566.880466
3  1968                13404.548552
4  1969                14152.985096

In [4]:
us_temps = temps[temps["Country"] == "United States"]
us_temps = us_temps[us_temps["dt"] >= '1965-01-01']
us_temps

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
557236,1965-01-01,-3.194,0.120,United States
557237,1965-02-01,-3.053,0.152,United States
557238,1965-03-01,0.886,0.254,United States
557239,1965-04-01,8.701,0.157,United States
557240,1965-05-01,13.778,0.344,United States
...,...,...,...,...
557816,2013-05-01,14.073,0.178,United States
557817,2013-06-01,20.198,0.236,United States
557818,2013-07-01,22.074,0.152,United States
557819,2013-08-01,21.168,0.249,United States
557820,2013-09-01,18.273,1.210,United States

In [9]:
# us_yearly = us_temps.groupby(us_temps['dt'].dt.year)
# us_yearly
us_temps['dt'] = pd.to_datetime(us_temps['dt'], format="%Y-%m-%d")
us_temps

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
557236,1965-01-01,-3.194,0.120,United States
557237,1965-02-01,-3.053,0.152,United States
557238,1965-03-01,0.886,0.254,United States
557239,1965-04-01,8.701,0.157,United States
557240,1965-05-01,13.778,0.344,United States
...,...,...,...,...
557816,2013-05-01,14.073,0.178,United States
557817,2013-06-01,20.198,0.236,United States
557818,2013-07-01,22.074,0.152,United States
557819,2013-08-01,21.168,0.249,United States
557820,2013-09-01,18.273,1.210,United States

In [24]:
temporary_df = us_temps.groupby(us_temps['dt'].dt.year)
avg_temp = temporary_df["AverageTemperature"].mean()

us_yearly = pd.DataFrame({"Avg Temp" : avg_temp})
us_yearly["Year"] = us_yearly.index
us_yearly.head(10)

      Avg Temp  Year
dt
1965  8.647667  1965
1966  8.483000  1966
1967  8.902000  1967
1968  8.553250  1968
1969  8.770833  1969
1970  8.673000  1970
1971  8.442500  1971
1972  8.428083  1972
1973  8.934667  1973
1974  8.815917  1974

In [28]:
temp_vs_oil = us_yearly.merge(oil, on="Year")
temp_vs_oil.dtypes

Avg Temp                      float64
Year                            int64
Thousand Oil Barrels Daily    float64
dtype: object

In [29]:
from statsmodels.tsa.vector_ar.var_model import VAR

model = VAR(temp_vs_oil)
model_fit = model.fit()
# make prediction
yhat = model_fit.forecast(model_fit.y, steps=1)
print(yhat)

[[1.04438727e+01 2.01400000e+03 1.81084399e+04]]